body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: url("images/bg.jpg");
    background-size: 100%;
    overflow: hidden;
}
h3{
    font-size: 18px;
    padding: 0;
    margin: 0;
    line-height: 30px;
    text-align: center;
}
p{
    font-size: 14px;
    margin-top: 10px;
}
img{
    display: block;
}

.supports3d body{
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    perspective: 1000px;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.open ,.open body {
    overflow: auto;
    height: auto;
}

#next {
    position: absolute;
    bottom: 50px;
    right: 20px;
    z-index: 9;
    border-radius: 20px;
    text-align: center;
    overflow: hidden;
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid #DDD;
    height: 18px;
    line-height: 18px;

    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    transform: rotate(-15deg);

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#next:before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    background: #000;
    opacity: 0.3;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

#next span {
    color: #DDD;
    font-size: 1.1em;
    position: relative;
}

.opening #next {
    opacity: 0;
}
.open #next {
    display: none;
}


/*
*/
.page {
    width: 100%;
    height: 100%;

    padding-bottom: 90px;

    -webkit-transition-property: transform;
    -moz-transition-property: transform;
    transition-property: transform;

    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    transition-timing-function: ease;

    -webkit-transition: all 0.5s ease ;
    -moz-transition: all 0.5s ease ;
    transition: all 0.5s ease ;

    -webkit-transform: rotate(-15deg) scale(0.9);
    -moz-transform: rotate(-15deg) scale(0.9);
    transform: rotate(-15deg) scale(0.9);
}

.page-front {
    position: absolute;
    left: 0;
    top:0;
    background: url("images/page-front.jpg") no-repeat;
    background-size: cover;

    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.7);
}

.page-back {
    padding-left: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);

    overflow: hidden;

    background: -webkit-linear-gradient(top,#433e47,#363338);
    background: -moz-linear-gradient(top,#433e47,#363338);
    background: linear-gradient(top,#3f3a44,#343038);
}

.page-back .content {
    padding: 15px;
    font-size: 14px;
    line-height: 18px;
    color: #FFF;
    font-family:  serif;

    background: -webkit-linear-gradient(top,#433e47,#363338);
    background: -moz-linear-gradient(top,#433e47,#363338);
    background: linear-gradient(top,#3f3a44,#343038);
}
.page-back .content2{
    background: #28212f;
}
.content .img-box{
    width: 100%;
}
.content .img-box img{
    width: 100%;
}
.content2 .img-box{
    width: 85%;
    margin: 0 auto 15px;
    text-align: center;
}



.open .page-back {
    height: auto;
    overflow: auto;
}

.supports3d.opening .page-front {
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    transform-origin: left center;

    -webkit-animation: pageFront 2s 1;
    -moz-animation: pageFront 2s 1;
    animation: pageFront 2s 1;

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.supports3d.opening .page-back {
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    transform-origin: left center;

    -webkit-animation: pageBack 2s 1;
    -moz-animation: pageBack 2s 1;
    animation: pageBack 2s 1;

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-moz-keyframes pageFront {
    50% {
        -webkit-transform: rotate(0deg) scale(0.7) translate(55px, -70px);
        -moz-transform: rotate(0deg) scale(0.7) translate(55px, -70px);
        transform: rotate(0deg) scale(0.7) translate(55px, -70px);
    }
    100% {
        -webkit-transform: rotateY(-120deg);
        -moz-transform: rotateY(-120deg);
        transform: rotateY(-120deg);
        -webkit-transition-duration: 1.2s;
        -moz-transition-duration: 1.2s;
        transition-duration: 1.2s;
        display: none;
    }
}
@-webkit-keyframes pageFront {
    50% {
        -webkit-transform: rotate(0deg) scale(0.7) translate(55px, -70px);
        -moz-transform: rotate(0deg) scale(0.7) translate(55px, -70px);
        transform: rotate(0deg) scale(0.7) translate(55px, -70px);
    }
    100% {
        -webkit-transform: rotateY(-120deg);
        -moz-transform: rotateY(-120deg);
        transform: rotateY(-120deg);
        -webkit-transition-duration: 1.2s;
        -moz-transition-duration: 1.2s;
        transition-duration: 1.2s;
        display: none;
    }
}
@keyframes pageFront {
    50% {
        -webkit-transform: rotate(0deg) scale(0.7) translate(55px, -70px);
        -moz-transform: rotate(0deg) scale(0.7) translate(55px, -70px);
        transform: rotate(0deg) scale(0.7) translate(55px, -70px);
    }
    100% {
        -webkit-transform: rotateY(-120deg);
        -moz-transform: rotateY(-120deg);
        transform: rotateY(-120deg);
        -webkit-transition-duration: 1.2s;
        -moz-transition-duration: 1.2s;
        transition-duration: 1.2s;
        display: none;
    }
}



@-moz-keyframes pageBack {
    50% {
        -webkit-transform: rotate(0deg) scale(0.7) translate(55px, -70px);
        -moz-transform: rotate(0deg) scale(0.7) translate(55px, -70px);
        transform: rotate(0deg) scale(0.7) translate(55px, -70px);
        padding-left: 0;
    }
    100% {
        padding-left: 0;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes pageBack {
    50% {
        -webkit-transform: rotate(0deg) scale(0.7) translate(55px, -70px);
        -moz-transform: rotate(0deg) scale(0.7) translate(55px, -70px);
        transform: rotate(0deg) scale(0.7) translate(55px, -70px);
        padding-left: 0;
    }
    100% {
        padding-left: 0;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes pageBack {
    50% {
        -webkit-transform: rotate(0deg) scale(0.7) translate(55px, -70px);
        -moz-transform: rotate(0deg) scale(0.7) translate(55px, -70px);
        transform: rotate(0deg) scale(0.7) translate(55px, -70px);
        padding-left: 0;
    }
    100% {
        padding-left: 0;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        transform: scale(1);
    }
}


.supports3d-not.opening .page-front {
    display: none;
}
.supports3d-not.opening .page-back{
    padding-left: 0;
    -webkit-transform: rotate(0deg) scale(1);
    -moz-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
}
